In [1]:
import pandas as pd

In [2]:
votes = pd.read_csv("Legislative.csv" )
votes.head(3)

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\nVOTES,POSTAL\nVOTES,TOTAL\nVOTES,OVER TOTAL ELECTORS \nIN CONSTITUENCY,OVER TOTAL VOTES POLLED \nIN CONSTITUENCY,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\n ~ 30 Lacs+","Rs 2,31,450\n ~ 2 Lacs+",376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\n ~ 1 Crore+","Rs 8,47,000\n ~ 8 Lacs+",318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\n ~ 3 Crore+","Rs 1,53,00,000\n ~ 1 Crore+",314057,181,314238,21.092771,29.534285,1489790

In [27]:
votes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2263 entries, 0 to 2262
Data columns (total 19 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   STATE                                     2263 non-null   category
 1   CONSTITUENCY                              2263 non-null   object
 2   NAME                                      2263 non-null   object
 3   WINNER                                    2263 non-null   category
 4   PARTY                                     2263 non-null   object
 5   SYMBOL                                    2263 non-null   object
 6   GENDER                                    2263 non-null   category
 7   CRIMINAL
CASES                            2263 non-null   object
 8   AGE                                       2263 non-null   float64
 9   CATEGORY                                  2263 non-null   category
 10  EDUCATION                                 2263 non-null   object
 11  ASSETS                                    2263 non-null   object
 12  LIABILITIES                               2263 non-null   object
 13  GENERAL
VOTES                             2263 non-null   int64
 14  POSTAL
VOTES                              2263 non-null   int64
 15  TOTAL
VOTES                               2263 non-null   int64
 16  OVER TOTAL ELECTORS
IN CONSTITUENCY      2263 non-null   float64
 17  OVER TOTAL VOTES POLLED
IN CONSTITUENCY  2263 non-null   float64
 18  TOTAL ELECTORS                            2263 non-null   int64
dtypes: category(4), float64(3), int64(4), object(8)
memory usage: 275.9+ KB

In [4]:
votes = votes.apply(lambda x: x.fillna(0) if x.dtype.kind in 'biufc' else x.fillna('NA'))

In [40]:
votes.head(3)

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\nVOTES,POSTAL\nVOTES,TOTAL\nVOTES,PERCENTAGE OF TOTAL ELECTORS VOTED FOR THE CANDIDATE,PERCENTAGE OF TOTAL VOTES RECEIVED BY THE CANDIDATE,TOTAL ELECTORS
0,Telangana,ADILABAD,SOYAM BAPU RAO,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\n ~ 30 Lacs+","Rs 2,31,450\n ~ 2 Lacs+",376892,482,377374,25.330684,35.468248,1489790
1,Telangana,ADILABAD,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\n ~ 1 Crore+","Rs 8,47,000\n ~ 8 Lacs+",318665,149,318814,21.399929,29.964370,1489790
2,Telangana,ADILABAD,RATHOD RAMESH,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\n ~ 3 Crore+","Rs 1,53,00,000\n ~ 1 Crore+",314057,181,314238,21.092771,29.534285,1489790

In [12]:
votes.nunique()

STATE                                          36
CONSTITUENCY                                  539
NAME                                         2014
WINNER                                          2
PARTY                                         133
SYMBOL                                        127
GENDER                                          3
CRIMINAL\nCASES                                30
AGE                                            61
CATEGORY                                        4
EDUCATION                                      14
ASSETS                                       1980
LIABILITIES                                  1227
GENERAL\nVOTES                               2244
POSTAL\nVOTES                                1217
TOTAL\nVOTES                                 2247
OVER TOTAL ELECTORS \nIN CONSTITUENCY        2263
OVER TOTAL VOTES POLLED \nIN CONSTITUENCY    2263
TOTAL ELECTORS                                542
dtype: int64

In [82]:
votes[["STATE","GENDER","WINNER","CATEGORY"]]=votes[["STATE","GENDER","WINNER","CATEGORY"]].astype("category")

In [43]:
votes.rename({"OVER TOTAL ELECTORS \nIN CONSTITUENCY":"PERCENTAGE OF TOTAL ELECTORS VOTED FOR THE CANDIDATE ","OVER TOTAL VOTES POLLED \nIN CONSTITUENCY":"PERCENTAGE OF TOTAL VOTES RECEIVED BY THE CANDIDATE"},axis="columns",inplace=True)

In [64]:
votes=votes.round(1)

In [61]:
votes[["CONSTITUENCY","NAME"]] = votes[["CONSTITUENCY","NAME"]].apply(lambda x: x.str.title())

In [65]:
votes.head()

,STATE,CONSTITUENCY,NAME,WINNER,PARTY,SYMBOL,GENDER,CRIMINAL\nCASES,AGE,CATEGORY,EDUCATION,ASSETS,LIABILITIES,GENERAL\nVOTES,POSTAL\nVOTES,TOTAL\nVOTES,PERCENTAGE OF TOTAL ELECTORS VOTED FOR THE CANDIDATE,PERCENTAGE OF TOTAL VOTES RECEIVED BY THE CANDIDATE,TOTAL ELECTORS
0,Telangana,Adilabad,Soyam Bapu Rao,1,BJP,Lotus,MALE,52,52.0,ST,12th Pass,"Rs 30,99,414\n ~ 30 Lacs+","Rs 2,31,450\n ~ 2 Lacs+",376892,482,377374,25.3,35.5,1489790
1,Telangana,Adilabad,Godam Nagesh,0,TRS,Car,MALE,0,54.0,ST,Post Graduate,"Rs 1,84,77,888\n ~ 1 Crore+","Rs 8,47,000\n ~ 8 Lacs+",318665,149,318814,21.4,30.0,1489790
2,Telangana,Adilabad,Rathod Ramesh,0,INC,Hand,MALE,3,52.0,ST,12th Pass,"Rs 3,64,91,000\n ~ 3 Crore+","Rs 1,53,00,000\n ~ 1 Crore+",314057,181,314238,21.1,29.5,1489790
3,Telangana,Adilabad,Nota,0,NOTA,NA,NA,NA,0.0,NA,NA,NA,NA,13030,6,13036,0.9,1.2,1489790
4,Uttar Pradesh,Agra,Satyapal Singh Baghel,1,BJP,Lotus,MALE,5,58.0,SC,Doctorate,"Rs 7,42,74,036\n ~ 7 Crore+","Rs 86,06,522\n ~ 86 Lacs+",644459,2416,646875,33.4,56.5,1937690

In [79]:
votes["ASSETS"] = votes["ASSETS"].str.split("\n").str[0].str.split(" ").str[1]
votes["LIABILITIES"] = votes["LIABILITIES"].str.split("\n").str[0].str.split(" ").str[1]

In [81]:
votes.to_csv("file2.csv")